# First Exercise using Pandas

## We start by creating a dataframe

In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

And then pass it to the pandas DataFrame constructor:

In [3]:
purchases = pd.DataFrame(data)

In [4]:
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

Wouldnt it be more interesting to see who bought the fruits?
Lets add customer names as our index

In [8]:
purchases = pd.DataFrame(data, index=['Bwalya', 'Mulenga', 'Mwila', 'Mambwe'])

In [9]:
purchases

         apples  oranges
Bwalya        3        0
Mulenga       2        3
Mwila         0        7
Mambwe        1        2

So what exactly did Bwalya buy?

In [10]:
purchases.loc['Bwalya']

apples     3
oranges    0
Name: Bwalya, dtype: int64

Bwalya bought 3 apples and 0 oranges

#You can now create a dataset of your own

# Reading data from CSVs
With CSV files all you need is a single line to load in the data:

In [11]:
df = pd.read_csv('purchases.csv')

In [12]:
df

  Unnamed: 0  apples  oranges
0     Bwalya       3        0
1    Mulenga       2        3
2      Mwila       0        7
3     Mambwe       1        2

CSVs don't have indexes like our DataFrames, so all we need to do is just designate the index_col when reading:

In [13]:
df = pd.read_csv('purchases.csv', index_col=0)

In [14]:
df

         apples  oranges
Bwalya        3        0
Mulenga       2        3
Mwila         0        7
Mambwe        1        2