## we are going to use Python Pandas in conjunction with sqlalchemy library.

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.2.15)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=localhost;'
                      'Database=Training;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [15]:
cursor.execute('''
                UPDATE Training.dbo.Person
                SET Age = 29,City = 'Montreal'
                WHERE Name = 'Mercy'
                ''')
conn.commit()

In [16]:
df = pd.read_sql_query("SELECT * FROM person", conn)

In [17]:
df

      Name  Age        City
0   Bwalya   10  Lusaka
1  Mulenga   15  Lusaka
2    Mercy   29  Montreal
3     Bupe    7  Chingola
4     Gwen    8  Choma